.footer-tabs {
  list-style: none;
  position: fixed;
  height: 44px;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -1px 1px rgba(55, 55, 55, 0.1);
  .footer-tab {
    width: 20%;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    .active g,.active path,.active .footer_word {
      stroke: #2295FF!important;
      color:#2295FF;
    }
    .active .first path{
      fill: #2295FF!important;
    }
  }
  .footer_icon {
    width: 14px;
    height: 14px;
    display: block;
    margin: 0 auto;
    margin-bottom: 6px;
  }
}